<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomas Fraire CV</title>
    <link rel="icon" type="image/x-icon" href="../Assets/favicon/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
    <!--Link de google fonts-->
    <!--Link Boostrap cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@200;400;600&display=swap" rel="stylesheet">
    <!--Link de google fonts-->    
</head>

<body>
    <!-- Animacion info -->
    <header class="container-fluid bg-violeta-oscuro d-flex justify-content-center">
        <p class="mt-1 mb-1 fs-6">Bienvenidos a mi Portfolio</p>
    </header>
    <!-- Animacion info -->

    <!-- Nav -->
    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-violeta-claro">
        <div class="container-fluid">
            <div class="me-auto">
                <a class="navbar-brand text-white fs-5" href="../index.html">
                    <img src="../Assets/favicon/android-chrome-512x512.png" alt="" class="d-inline-block align-text-top ph_logo">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/projects.html">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../pages/Timeline.html">Mis Estudios</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Nav -->
    <!-- Nav -->

    <main>
        <section class="container">
            <h1 class="mt-4 highlight-title">Top 10 Proyectos de Desarrollo Full Stack y Videojuegos</h1>

            <h2 class="mt-4 highlight-title">Proyectos de Front-end</h2>
            <ol>
                <li>
                    <h3 class="highlight-title">Sitio web de una tienda de moda</h3>
                    <div class="imgText__Projects row">
                        <div class="img-container col">
                            <img class="col" src="../Assets/Img/logos_coderhouse.png" alt="Imagen del proyecto 1 de Front-end">
                        </div>
                        <p class="col">Desarrollo de un sitio web responsivo para una tienda de moda. El sitio web incluye un diseño atractivo y moderno, una interfaz de usuario intuitiva y animaciones interactivas para mejorar la experiencia del usuario. Se utiliza HTML, CSS y JavaScript para la implementación y se garantiza la compatibilidad con dispositivos móviles.</p>
                    </div>
                </li>
                <li>
                    <h3 class="highlight-title">Aplicación de gestión de tareas</h3>
                    <div class="imgText__Projects row">
                        <div class="img-container col">
                            <img class="col" src="../Assets/Img/logos_coderhouse.png" alt="Imagen del proyecto 2 de Front-end">
                        </div>
                        <p class="col">Creación de una aplicación web para gestionar tareas y proyectos. La aplicación permite a los usuarios crear, organizar y marcar tareas como completadas. Se utiliza un diseño intuitivo y amigable con el usuario, y se implementa una funcionalidad de recordatorio de fechas de vencimiento para ayudar a los usuarios a administrar su tiempo de manera eficiente.</p>
                    </div>
                </li>
                <li>
                    <h3 class="highlight-title">Portafolio personal interactivo</h3>
                    <div class="imgText__Projects row">
                        <div class="img-container col">
                            <img class="col" src="../Assets/Img/logos_coderhouse.png" alt="Imagen del proyecto 3 de Front-end">
                        </div>
                        <p class="col">Desarrollo de un portafolio personal interactivo utilizando tecnologías modernas como React.js. El portafolio incluye secciones para mostrar proyectos, habilidades y experiencia laboral. Se utiliza un diseño elegante y responsivo para garantizar una buena experiencia de usuario en diferentes dispositivos. Se integra con API de terceros para mostrar enlaces a perfiles de redes sociales y proyectos alojados en plataformas como GitHub.</p>
                    </div>
                </li>
            </ol>

            <h2 class="mt-4">Proyectos de Back-end</h2>
            <ol>
                <li>
                    <h3 class="highlight-title">Sistema de reservas para un hotel</h3>
                    <div class="imgText__Projects row">
                        <div class="img-container col">
                            <img class="col" src="../Assets/Img/FundAula.png" alt="Imagen del proyecto 1 de Back-end">
                        </div>
                        <p class="col">Implementación de un sistema de reservas en línea para un hotel. El sistema permite a los usuarios seleccionar fechas de check-in y check-out, elegir habitaciones disponibles y realizar pagos seguros. Se utiliza una arquitectura de servidor robusta y segura, junto con bases de datos para almacenar y administrar la información de las reservas. Se implementa una interfaz de administración para que el personal del hotel pueda gestionar y supervisar las reservas.</p>
                    </div>
                </li>
                <li>
                    <h3 class="highlight-title">API de una aplicación de redes sociales</h3>
                    <div class="imgText__Projects row">
                        <div class="img-container col">
                            <img class="col" src="../Assets/Img/FundAula.png" alt="Imagen del proyecto 2 de Back-end">
                        </div>
                        <p class="col">Desarrollo de una API RESTful para una aplicación de redes sociales. La API proporciona endpoints para registrar usuarios, crear publicaciones, seguir a otros usuarios y obtener noticias del feed. Se utiliza una arquitectura basada en microservicios para asegurar la escalabilidad y la facilidad de mantenimiento. Se implementan mecanismos de autenticación y autorización para proteger los datos de los usuarios y garantizar la privacidad.</p>
                    </div>
                </li>
                <li>
                    <h3 class="highlight-title">Plataforma de comercio electrónico</h3>
                    <div class="imgText__Projects row">
                        <div class="img-container col">
                            <img class="col" src="../Assets/Img/FundAula.png" alt="Imagen del proyecto 3 de Back-end">
                        </div>
                        <p class="col">Creación de una plataforma de comercio electrónico utilizando frameworks como Django. La plataforma permite a los usuarios buscar productos, agregarlos al carrito de compras y realizar pedidos seguros. Se implementa un sistema de pago integrado para procesar transacciones seguras. La plataforma también incluye funcionalidades avanzadas como la gestión de inventario, la generación de informes de ventas y la gestión de cuentas de usuario.</p>
                    </div>
                </li>
            </ol>

            <h2 class="mt-4">Proyectos de Desarrollo de Videojuegos</h2>
            <ol>
                <li>
                    <h3 class="highlight-title">Juego de simulación agrícola</h3>
                    <div class="imgText__Projects row">
                        <div class="img-container col">
                            <img class="col" src="../Assets/Img/DaVinci.jpg" alt="Imagen del proyecto 1 de Desarrollo de Videojuegos">
                        </div>
                        <p class="col">Desarrollo de un juego de simulación agrícola en 2D con elementos de gestión de granjas, interacción con personajes no jugadores (NPC) y exploración de un mundo abierto. Los jugadores podrán cultivar cultivos, criar animales, interactuar con otros personajes, participar en eventos y descubrir secretos ocultos en un entorno visualmente atractivo y lleno de detalles. Se implementan mecánicas de juego realistas y una progresión satisfactoria para brindar una experiencia inmersiva y divertida.</p>
                    </div>
                </li>
                <li>
                    <h3 class="highlight-title">Juego de terror en 3D</h3>
                    <div class="imgText__Projects row">
                        <div class="img-container col">
                            <img src="../Assets/Img/DaVinci.jpg" alt="Imagen del proyecto 2 de Desarrollo de Videojuegos" class="col">   
                        </div>
                        <p class="col">Creación de un juego de terror en 3D que sumerge a los jugadores en un entorno espeluznante lleno de suspense y desafíos. El juego presenta gráficos detallados, efectos de sonido envolventes y una narrativa inmersiva para crear una atmósfera aterradora. Los jugadores deberán explorar entornos oscuros, resolver acertijos, evitar a enemigos aterradores y descubrir la verdad detrás de los sucesos misteriosos. Se implementan mecánicas de juego innovadoras y momentos de intensidad para mantener a los jugadores en vilo.</p>
                    </div>
                </li>
                <li>
                    <h3 class="highlight-title">Juego de supervivencia en un entorno postapocalíptico</h3>
                    <div class="imgText__Projects row">
                        <div class="img-container col">
                            <img src="../Assets/Img/DaVinci.jpg" alt="Imagen del proyecto 3 de Desarrollo de Videojuegos">
                        </div>
                        <p class="col">Desarrollo de un juego de supervivencia en un mundo postapocalíptico donde los jugadores deben enfrentarse a peligrosos enemigos, recolectar recursos, construir refugios y administrar su salud y hambre para sobrevivir. El juego presenta un entorno abierto y hostil, donde los jugadores deberán tomar decisiones estratégicas para evitar amenazas y progresar. Se implementan mecánicas de artesanía, exploración, combate y gestión de recursos para brindar una experiencia desafiante y adictiva.</p>
                    </div>
                </li>
            </ol>
        </section>
    </main>

    <!-- Footer -->
    <footer class="w-100 d-flex align-items-center justify-content-center flex-wrap bg-dark text-white">
        <p class="fs-5 px-3 pt-3">CoderHouse-TomasFraire. &copy; Todos Los Derechos Reservados 2023</p>
    </footer>
    <!-- Fin Footer -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>

</html>






















