
.imgText__Projects img {
    width: 10rem;
  }
  
  .imgText__Projects {
    padding: 2rem;
    align-items: center;
    border: 2px solid black;
    background-color: rgb(250, 215, 215);
  }

  .imgText__Projects {
    display: flex;
    flex-wrap: wrap;
  }
  
  .img-container {
    max-width: 770px;
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.highlight-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Estilos para pantallas con ancho menor a 770px */
@media (max-width: 770px) {
  .imgText__Projects {
    flex-direction: column;
  }

  .imgText__Projects img {
    max-width: 100%;
  }

  .imgText__Projects p {
    margin-top: 20px;
  }
}
